.filters {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 20%;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

/* @media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }
  .filters > span {
    font-size: 10px;
  }
  .title {
    font-size: 18px !important;
  }

  .search {
    display: none !important;
  }
  .products {
    width: 100%;
  }
  .productContainer {
    padding: 0;
    width: 58%;
  }
} */
