a {
  text-decoration: none !important;
  color: inherit !important;
}

@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }
  .filters > span {
    font-size: 10px;
  }
  .title {
    font-size: 18px !important;
  }

  .search {
    display: none !important;
  }
  .products {
    width: 100%;
  }
  .productContainer {
    padding: 0;
    width: 58%;
  }
}
